.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #f4f4fd;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.33;
}

.footer-logo span {
  color: #4d5ae5;
}

.footer-text {
  color: #f4f4fd;
  padding-top: 16px;
  max-width: 264px;
}
